{% extends "base.html.twig" %}

{% block title %} Currency Calculator {% endblock %}

{% block body %}
  <h1>Welcome to administrator page!</h1>
  <h3>Please give some currencies.</h3>
  <a href="login"><button type="button" class="btn btn-outline-primary btn-lg">Logout</button></a>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

  {% for currency in currencies %}
  <ul class="admin-currencies">
    <li class="list-cur">{{ currency.name }} <button type="button" class="btn btn-danger btn-sm" id="{{ currency.id }}">X</button></li>
  </ul>
  {% endfor %}
{% endblock %}
